
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html> xmlns='http://www.w3.org/1999/xhtml">

<head>
	<title>Chez Fur</title>
	<meta http-equiv="content-type" content="text/html; charset="utf-8"  />
</head>

<body>

     <nav>Home Menu Your Hosts Contact</nav>
     
     <h1>Bon Appétit</h1>

     <p>Chez Fur welcomes you to come by for coffee and snacks. Stay to be entertained by our furry hosts as they play n out outdoor Katio or indoor Kitty Kondo. While some of our hosts may be a bit shy, others are happy to greet you with a request from a head scratch or gentle pet. Just let them lead the way! Sit back and enjoy the company of the cats. You may find that one of our cuddy kitties would like to adopt you.</p>

     <p> Reservations recommended.</p>

     <h4>612 Tiger Trail<br>Los Gatos, CA 95030<br>888-555-5555</h4>

     <p>Copyright &copy; 2024 Suzy Schaffer</p>

</body>
</html>
